#signIn {
    background: url("./assets/sign-in-background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center center;
  }

  #background {
    background: url("./assets/background.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
  
  /* Media query for screens above small screens */
  @media (min-width: 768px) {
    #background {
      min-height: 100vh;
    }
  }
  